// Colors
$light-blue: #21d0db;
$black: #000;
$white: #fff;
$dark-grey: #666;
$green: #00ff00;
$red: #ff0000;

// Body
$body-bg: $dark-grey;
$body-color: $white;

// Typography
$font-family-base: 'Courier New', monspace;
$font-size-base: 1.2rem;
$line-height-base: 1.1;

// General
$primary: $light-blue;
$secondary: lighten($dark-grey, 25);
$border-radius: 0;

// Link
$link-color: $white;
$link-hover-color: $light-blue;
$link-hover-decoration: none;

// Form elements
$btn-font-weight: bold;
$input-font-weight: bold;

// Card
$card-bg: $dark-grey;
$card-cap-bg: $light-blue;
$card-cap-color: $black;
$card-border-width: 0;
$card-spacer-x: 0.5rem;
$card-spacer-y: 0.25rem;

// Styling
.logo {
    @extend .mb-3;

    img {
        width: 100%;
    }
}

.nav {
    @extend .row;
    @extend .mb-3;

    .col {
        text-align: center;
    }

    .previous {
        @extend .col;
        text-align: left;
    }

    .next {
        @extend .col;
        text-align: right;
    }
}

form.logout {
    @extend .form-inline;

    label {
        @extend .ml-auto;
        cursor: pointer;

        &:hover {
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }
    }

    button {
        display: none;
    }
}

.game {
    @extend .row;
    @extend .pl-3;
    @extend .pr-3;
    @extend .mb-1;

    .name {
        @extend .col-auto;
        @extend .p-0;
        @extend .pr-1;
    }

    .status {
        @extend .d-none;
        @extend .d-sm-flex;
        @extend .col;
        @extend .p-0;

        color: $light-blue;
        font-weight: bold;
    }

    .started-at {
        @extend .col-12;
        @extend .col-sm-5;
    }

    .stopped-at {
        @extend .col-12;
        @extend .col-sm-5;
    }

    .duration {
        @extend .col;
        @extend .col-sm-2;
        @extend .p-0;
        @extend .text-right;
    }
}

.activity {
    @extend .game;

    .started-at {
        @extend .col-12;
        @extend .col-sm-5;
    }

    .stopped-at {
        @extend .col-12;
        @extend .col-sm-5;
    }

    .duration {
        @extend .col-12;
        @extend .col-sm-2;
        @extend .mb-2;
        @extend .text-right;
    }
}

.card {
    .card-header {
        font-size: 1.7rem;
        font-weight: bold;

        a {
            color: inherit;

            &:hover {
                color: $white;
            }
        }

        .duration {
            @extend .float-right;
            color: $white;
        }
    }

    .card-body {
        padding: $card-spacer-y*4 $card-spacer-x;
    }
}

.alert {
    font-weight: bold;
    text-align: center;
}

@keyframes highlight-fade {
    from {
        background-color: $light-blue;
    }
    to {
        background-color: transparent;
    }
}

.highlight {
    animation: highlight-fade 4s ease-out;
}

.start {
    color: $green !important;
    font-weight: bold;
}

.stop {
    color: $red !important;
    font-weight: bold;
}

.col .form-inline button {
    &.start, &.stop {
        margin: 0 auto;
    }
}

.btn-checkbox {
    opacity: 0.5;

    &.active {
        opacity: 1.0;
    }
}

.btn-ongoing {
    @extend .btn-success;
    @extend .btn-checkbox;
}

.btn-finished {
    @extend .btn-dark;
    @extend .btn-checkbox;
}

.btn-dropped {
    @extend .btn-danger;
    @extend .btn-checkbox;
}

.caret-left {
    @extend .d-block;
    @extend .d-sm-inline-block;
    @extend .float-sm-left;
    @extend .mr-2;
}

.caret-right {
    @extend .d-block;
    @extend .d-sm-inline-block;
    @extend .float-sm-right;
    @extend .ml-2;
}
