// Colors
$light-blue: #21d0db;
$black: #000;
$white: #fff;
$dark-grey: #666;

// Body
$body-bg: $dark-grey;
$body-color: $white;

// Typography
$font-family-base: 'Courier New', monspace;
$font-size-base: 1.2rem;
$line-height-base: 1.1;

// General
$primary: $light-blue;
$border-radius: 0;

// Link
$link-color: $white;
$link-hover-color: $light-blue;
$link-hover-decoration: none;

// Button
$btn-font-weight: bold;

// Card
$card-bg: $dark-grey;
$card-cap-bg: $light-blue;
$card-cap-color: $black;
$card-border-width: 0;
$card-spacer-x: 0.5rem;
$card-spacer-y: 0.25rem;

// Styling
.logo {
    @extend .mb-3;

    img {
        width: 100%;
    }
}

.nav {
    @extend .row;
    @extend .mb-3;

    .col {
        text-align: center;
    }

    .previous {
        @extend .col;
        text-align: left;
    }

    .next {
        @extend .col;
        text-align: right;
    }
}

.logout {
    @extend .form-inline;

    label {
        cursor: pointer;

        &:hover {
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }
    }

    button {
        display: none;
    }
}

.activity {
    @extend .row;
    @extend .pl-3;
    @extend .pr-3;
    @extend .mb-3;

    .status {
        @extend .col;
        @extend .p-0;

        color: $light-blue;
        font-weight: bold;

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }
}

.card {
    .card-header {
        font-size: 1.7rem;
        font-weight: bold;
    }

    .card-body {
        padding: $card-spacer-y*4 $card-spacer-x;
    }
}
